@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
     margin: 0;
     padding: 0;
}

body{
     overflow-x: hidden;
}
.hero{
     background: url(../assets/bg/bg1.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: top;
     background-attachment: fixed;
     background-image: linear-gradient(
          360deg,
          #333,
     );
}

.noPadding{
     padding: 0;
}

.logo{
     padding: 55px 0;
     background: #ffc72c;
}

ul li{
     list-style: none;
}
.main-menu{
     display: flex;
     justify-content: flex-end;
     margin: 0px 45px;
}

.main-menu > li{
     position: relative;
}

.main-menu > li > a{
     text-decoration: none;
     color: #fff;
     padding: 5px 20px;
     text-transform: uppercase;
     font-family: 'Roboto', sans-serif;
     font-size: 14px;
     letter-spacing: 0.35em;
     transition: 0.3s;
     line-height: 20px;
     margin: 20px 5px;
     display: block;
     opacity: 0.8;
}

.main-menu > li > a:hover{
     background: #ffc72c;
     color: #fff;
}


.sub-menu{
     position: absolute;
     background: #ffc72c;
     min-width: 205px;
     padding: 20px 0;
     left: 50%;
     transform: translate(-85%,0);
     display: none;
}

.main-menu >li:hover .sub-menu{
     display: block;
}

.sub-menu >li{
     padding: 3px 20px;
     line-height: 20px;
     transition: 0.3s;
}

.sub-menu > li > a{
     color: #fff;
     text-decoration: none;
     padding: 5px 0;
     display: block;
     transition: 0.3s;
}

.sub-menu > li:hover{
     background: #fff;
}

.sub-menu > li:hover a{
     color: #ffc72c;
     font-weight: bold;
}

.inner-sub-menu{
     position: absolute;
     left: calc(100% + 3px);
     background: #ffc72c;
     top: 0;
     padding: 20px 0;
     display: none;
}

.sub-menu > li:hover .inner-sub-menu{
     display: block;
     
}

.inner-sub-menu > li{
     padding: 3px 30px;
     line-height: 20px;
     transition: 0.3s;
}

.inner-sub-menu > li > a{
     color: #fff !important;
     display: block;
     padding: 5px 0;
     text-decoration: none;
     transition: 0.3s;
}

.inner-sub-menu > li:hover{
     background: #fff;
}

.inner-sub-menu > li:hover a{
     color: #ffc72c !important;
     font-weight: bold;
}

.menu-btn{
     color: #fff;
     font-size: 25px;
     text-align: center;
     display: none;
}
.menu-btn > i{
     background: #ffc72c;
     display: inline-block;
     padding: 5px 10px;
     margin: 10px 0;
     cursor: pointer;
     margin: 20px 0 0 0;
}


.hero-content{
     text-align: center;
     padding: 250px 0;
     box-sizing: border-box;
     
}
.hero-title,.info-title,.exp-title{
     font-style: normal;
     text-transform: uppercase;
     font-family: 'Roboto', sans-serif;
     color: #ffffff;
     font-size: 32px;
     line-height: 1.2;
     letter-spacing: 11px;
     font-weight: bold;
}
.hero-quote,.exp-quote{
     font-family: 'Roboto', sans-serif;
     font-style: normal;
     color: #fff;
     font-size: 19px;
     line-height: 1.5;
     letter-spacing: 3px;
     margin: 40px 0;
}

.read-btn{
     text-decoration: none !important;
     color: #fff;
     border: 2px solid #fff;
     padding: 20px 40px;
     background: transparent;
     border-radius: 40px;
     display: inline-block;
     transition: 0.3s;
}
.read-btn:hover{
     color: #ffc72c;
     border: 2px solid #ffc72c;
}
.info{
     width: 100%;
     background: #ffc72c;
     padding: 100px 0;
}

.info-content,.exp-para{
     margin: 50px 0;
     color: #fff;
     font-style: normal;
     font-family: 'Roboto', sans-serif;
     font-size: 15px;
}
.read-btn.info-read{
     background: #fff;
     color: #333;
}
.read-btn.info-read:hover{
     color: #fff;
     background: #ffc72c;
     border: 2px solid #fff;
}
.bar{
     width: 80px;
     height: 2px;
     background: #fff;
     margin: 20px auto;
}

/* nuestra experiencia */
.experience{
     background: url(../assets/bg/bg3.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: top;
     background-attachment: fixed;
     padding: 250px 0;
}
.experience .bar{
     margin-left: 0;
     background: #FFCA2E;
}
.exp-quote{
     font-size: 20px;
     color: #ffc72c;
     font-weight: bold;
     letter-spacing: -1;
     margin: 40px 0 0 0;     
}
.exp-para{
     margin: 20px 0;
     font-size: 15px;
     opacity: 0.9;
}
.read-btn.yellow{
     background: #FFCA2E;
     border: 2px solid #FFCA2E;
     color: #fff;
     margin: 60px 0;
}
.read-btn.yellow:hover{
     background: transparent;
     color: #ffc72c;
     
}

.gallery .img-content{
     position: relative;
     cursor: pointer;
}
.gallery .img-fade{
     position: absolute;
     width: 100%;
     height: 100%;
     background: #000;
     opacity: 0;
     transition: 0.3s;
}
.gallery .img-content i{
     position: absolute;
     font-size: 45px;
     color: #ffc72c;
     top: 50%;
     left: 50%;
     transform: translate(-100%,-50%);
     transition: 0.3s;
     opacity: 0;
}
.gallery .img-content:hover i{
     transform: translate(-50%,-50%);
     opacity: 1;
}
.gallery .img-content:hover .img-fade{
     opacity: 0.5;
}
.gallery .img-content img{ 
     width: 100%;
     height: 350px;
}
.img-content.img-lg img{
     width: 100%;
     height: 650px;
}

/*Partnets*/
.partners .link{
     font-size: 20px;
     font-family: 'Roboto', sans-serif;
     letter-spacing: 0px;
     text-decoration: none !important;
     display: block;
     margin: 20px 0;
     color: #fff;
}
.p-para{
     color: #fff;
     font-size: 15px;
     font-family: 'Roboto',sans-serif;
}


.experience.landscape{
     background: url(../assets/images/house-near-water-3155265.jpg) !important;
     background-repeat: no-repeat !important; 
     background-size: cover !important;
     background-position: top !important;
     background-attachment: fixed !important;
     padding: 250px 0 !important;
}

.social-media-links{
     margin: 100px 0;
}
.social-media{
     display: inline-block;
     margin: 0 auto;
}
.social-media > a{
     text-decoration: none !important;
     display: inline-block;
     padding: 5px 15px;
     color: #fff;
     font-size: 14px;
     font-family: 'Roboto',sans-serif;
     transition: 0.3s;
     margin: 10px 10px;
}
.social-media > a:hover{
     background: #fff;
     color: #333;
}
.read-btn.btn-white{
     background: #fff;
     color: #333;
     padding: 20px 50px;
}
.read-btn.btn-white:hover{
     background: #FFCA2E;
     color: #fff;
     border: 2px solid #fff;
}
/* contactenos */
.info.contacto{
     background: #fff;
}
.info-title.text-black{
     color: #333;
}
.bar.black{
     background: #ffc72c;
     width: 100px;
}
.contact img{
     display: block;
     margin: 0 auto;
     margin-top: 40px;
}
.contact .link{
     display: block;
     text-decoration: none;
     color: #333;
     font-size: 15px;
     font-family: 'Roboto',sans-serif;
     text-align: center;
     margin: 20px 0;
}
.contacto .p-quote{
     margin: 200px 0 0 0;
     text-align: center;
}

@media screen and (max-width: 1188px){
     
     .main-menu{
          display: flex;
          justify-content: flex-end;
          margin: 5px 5px;

     }
     .main-menu > li > a{
          padding: 5px 10px;
     }
     
}

@media screen and (max-width: 992px){
     .logo{
          padding: 10px 0;
          background: #ffc72c;
     }
     .main-menu{
          display: flex;
          justify-content: flex-end;
          margin: 0px 20px;
     }
     .main-menu > li > a{
          padding: 5px 5px;
     }
}

@media screen and (max-width: 900px){
     .logo{
          padding: 10px 0;
          background: #ffc72c;
     }
     .main-menu{
          display: flex;
          flex-wrap: wrap-reverse;
          justify-content: flex-end;
          margin: 0px 20px;
     }
     .main-menu > li > a{
          padding: 5px 5px;
          
     }
     .main-menu > li:nth-child(6) > a{
          font-size:20px;
          background: #ffc72c;
          opacity: 1;
     }
}

@media screen and (max-width: 768px){
     .logo img{
          display: block;
          margin: 0 auto;
     }

     .main-menu{
          display: block;
          border: 2px solid #333;
          margin: 0;
          background: #fff;
          display: none;
     }
     .main-menu.active{
          display: block;
     }
     .menu-btn{
          display: block;
     }
     .main-menu > li > a{
          
          color: #665;
          line-height: 20px;
          padding: 5px 5px;
          margin: 5px 5px;
          font-size: 20px;
     }
     .main-menu >li:hover .sub-menu{
          display: none;
     }
     
}

